.container {
  margin-top: 80px;
  padding: 0 65px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.information {
  width: 50%;
}

.discovery {
  margin-bottom: 50px;
}
